<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buffalo.enterprise.mapper.ProductMapper" ><!-- 命名空间必须指定mapper类的全路径 -->


	<!-- 列表 -->
	<select id="list" parameterType="com.buffalo.enterprise.model.Product" resultType="com.buffalo.enterprise.model.Product">
		select
		product.*
		from ent_product product
		where product.sys_status = 1
		<if test="keyword != ''">
			and product.name like "%${keyword}%"
		</if>
		order by product_index
	</select>

	<select id="getById" parameterType="String" resultType="com.buffalo.enterprise.model.Product">
		select
		product.*
		from ent_product product
		where product.sys_status = 1
		and id = #{id}
	</select>

	<!-- 新增 -->
    <insert id="add" parameterType="com.buffalo.enterprise.model.Product" >
		insert into ent_product 
			(
			id,
			name,
			scale,
			product_index,
			remarks,
			creator_id,
			created_time,
			modified_time
			)
		values
			(
			uuid(),
			#{name},
			#{scale},
			#{product_index},
			#{remarks},
			#{creator_id}, 
			now(),
			now()
			)
    </insert>

	<!-- 修改 -->
    <update id="update" parameterType="com.buffalo.enterprise.model.Product">
		update ent_product 
		set
			name = #{name},
			scale = #{scale},
			product_index = #{product_index},
			remarks = #{remarks} ,
			modifier_id = #{modifier_id} , 
			modified_time = now()
		where id = #{id}
    </update>

	<delete id="delete" parameterType="com.buffalo.enterprise.model.Product">
		update ent_product
			set sys_status = 0,
			modifier_id = #{modifier_id},
			modified_time = now()
			where id=#{id}
	</delete>

	


</mapper>