<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buffalo.gateway.authentication.mapper.AuthPermissionMapper" ><!-- 命名空间必须指定mapper类的全路径 -->
    <!-- id必须与mapper接口方法名一致，不能出现重载 -->


    <select id="getById" parameterType="String" resultType="com.buffalo.gateway.authentication.model.Permission">
        select 	
			permission.*
		from
		sys_permission permission
		where permission_id = #{permission_id}
		and permission.sys_status = 1
    </select>

    <select id="list" resultType="com.buffalo.gateway.authentication.model.Permission">
        select 	
			permission.*
		from
		sys_permission permission
		where  permission.sys_status = 1
		order by if(isnull(permission.modified_time),0,permission.modified_time) desc,permission.created_time desc
    </select>


</mapper>